name: Keep Render Alive

on:
  schedule:
    # Runs every 14 minutes (Render sleeps after 15 mins)
    - cron: '*/14 * * * *'
  workflow_dispatch: # Allows manual run

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Backend
        run: |
          curl -I https://math2python-api.onrender.com
          echo "Pinged Backend successfully"
